<div
  class="flex-container"
  fxLayout="row wrap"
  fxLayout.xs="column"
  fxFlexFill
  fxLayoutAlign="space-around"
>
  <div class="flex-item">
    <app-bubble-chart></app-bubble-chart>
  </div>
  <!-- <div class="flex-item">
    <app-pie-chart></app-pie-chart>
  </div> -->
</div>

<!-- <app-area-chart></app-area-chart>
<app-pie-chart></app-pie-chart>
<app-bar-chart></app-bar-chart>
<app-funnel-chart></app-funnel-chart>
<app-candle-chart></app-candle-chart>
<app-line-chart></app-line-chart> -->
