<div class="container" title="{{ title }}">
  <section class="container__body">
    <div class="row">
      <div class="container__body-portlet container__body-portlet--6">
        <app-bubble-chart></app-bubble-chart>
      </div>
    </div>
    <div class="row">
      <div class="container__body-portlet container__body-portlet--6">
        <app-area-chart></app-area-chart>
      </div>
    </div>
    <div class="row">
      <div class="container__body-portlet container__body-portlet--6">
        <app-pie-chart></app-pie-chart>
      </div>
    </div>
    <div class="row">
      <div class="container__body-portlet container__body-portlet--6">
        <app-candle-chart></app-candle-chart>
      </div>
    </div>
    <div class="row">
      <div class="container__body-portlet container__body-portlet--6">
        <app-funnel-chart></app-funnel-chart>
      </div>
    </div>
    <div class="row">
      <div class="container__body-portlet container__body-portlet--6">
        <app-line-chart></app-line-chart>
      </div>
    </div>
  </section>
</div>
