.container {
  display: flex;
  flex: 1;
  flex-direction: row;

  .container__body {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
  }

  .container__body-portlet {
    padding: $padding;
    @include box-shadow($defaultShadow);
  }

  .container__body-portlet--4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .container__body-portlet--6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .container__body-portlet--8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}

