.forms {
  .forms__container {
    margin-bottom: 25px;
  }
  &.forms--bubble-filters {
    display: flex;
    flex: 1;
    flex-flow: row-reverse;
  }
}

@import 'forms/select';
@import 'forms/checkbox';
