<form class="forms forms--bubble-filters" action="">
  <select class="forms__select" (change)="onChangeYear($event.target.value)">
    <option class="forms__select-option" value="2019">2019</option>
    <option class="forms__select-option" value="2018">2018</option>
    <option class="forms__select-option" value="2017">2017</option>
  </select>

  <select class="forms__select" (change)="onChangePeriod($event.target.value)">
    <option class="forms__select-option" value="firstQuarter" selected
      >First Quarter</option
    >
    <option class="forms__select-option" value="secondQuarter"
      >Second Quarter</option
    >
    <option class="forms__select-option" value="thirdQuarter"
      >Third Quarter</option
    >
    <option class="forms__select-option" value="fourthQuarter"
      >Fourth Quarter</option
    >
    <option class="forms__select-option" value="entireYear">Entire Year</option>
  </select>
</form>
<app-chart [chartParams]="chartParams"></app-chart>
